@font-face {
  font-family: OpenSans;
  src: url(Fonts/Open-Sans/OpenSans-Regular.ttf);
}

@font-face {
  font-family: OpenSans-LightItalic;
  src: url(Fonts/Open-Sans/OpenSans-LightItalic.ttf);
}

body {
  text-align: center;
}

.OpenSans {
  font-family: OpenSans;
}

.OpenSans-LightItalic {
  font-family: OpenSans-LightItalic;
}
